<%- include ('../partials/admin_header')%>


    <div>
   
    </div>

    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-12 mx-auto tm-login-col">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="tm-block-title mb-4">Welcome to Admin Login</h2>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <form action="/admin" method="post" class="tm-login-form">
                  <div class="form-group">

    
                    <label for="email">Email</label>
                    <input
                      name="email"
                      type="text"
                      class="form-control validate"
                      id="email"
                      value=""
                      required
                    />
                  </div>
                  <% if(locals.message) { %>
                    <div id="msg" class="alert alert-danger">
                      <%- locals.message -%>
                    </div> <% } %> 

                  <div class="form-group mt-3">
                    <label for="password">Password</label>
                    <input
                      name="password"
                      type="password"
                      class="form-control validate"
                      id="password"
                      value=""
                      required
                    />
                  </div>
                  <% if(locals.alert) { %>
                    <div id="msg" class="alert alert-danger">
                      <%- locals.alert -%>
                    </div> <% } %> 
                  <div class="form-group mt-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block text-uppercase"
                    >
                      Login
                    </button>
                  </div>
                
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<script>
    setTimeout(()=>{
        document.getElementById('msg').style.display='none'
    },2000)
</script>

   
    <%- include ('../partials/admin_footer')%>