<!-- Start Top Header Bar -->

<!-- <script src="/asset_1/plugins/bootstrap/js/bootstrap.min.js"></script> -->
<script src="/asset_1/plugins/jquery/dist/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>


<section class="top-header">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12 col-sm-4">
				<div class="contact-number">
					<i class="tf-ion-ios-telephone"></i>
					<span>0129- 12323-123123</span>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Site Logo -->
				<div class="logo text-center">
					<a href="/">
						<!-- replace logo here -->
						<svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
							xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
								font-family="AustinBold, Austin" font-weight="bold">
								<g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
									<text id="AVIATO">
										<tspan x="108.94" y="325">CRONO</tspan>
									</text>
								</g>
							</g>
						</svg>
					</a>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 col-sm-4">
				<!-- Cart -->
				<ul class="top-menu text-right list-inline">
					<li class="dropdown cart-nav dropdown-slide">
						<a href="/cart"><i
								class="tf-ion-android-cart"></i>Cart</a>
						

					</li><!-- / Cart -->

					<!-- Search -->
					<li class="dropdown search dropdown-slide">
						<a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i
								class="tf-ion-ios-search-strong"></i> Search</a>
						<ul class="dropdown-menu search-dropdown">
							<li>
								<form action="/search_product" method="post"><input type="search" name="search" class="form-control" placeholder="Search..."></form>
							</li>
						</ul>
					</li><!-- / Search -->

					<!-- Languages -->
					<% if (user) { %>	
						<% if (!user.isBlocked) { %>
						  <div class="user-dropdown">
							<a href="/profile/<%= user._id %>">
							<%= user.name %>
						</a>
							<a href="/logout">
							  Logout
							</a>
						  </div>
						<% } %>
					  <% } else { %>
						<li class="dropdown search dropdown-slide">
						  <a href="/login">
							Login
						  </a><!-- / Languages -->
						</li>
					  <% } %>
					  
					
				</ul><!-- / .nav .navbar-nav .navbar-right -->
			</div>
		</div>
	</div>
</section><!-- End Top Header Bar -->


<!-- Main Menu Section -->
<section class="menu">
	<nav class="navbar navigation">
		<div class="container">
			<div class="navbar-header">
				<h2 class="menu-title">Main Menu</h2>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

			</div><!-- / .navbar-header -->

			<!-- Navbar Links -->
			<div id="navbar" class="navbar-collapse collapse text-center">
				<ul class="nav navbar-nav">

					<!-- Home -->
					<li class="dropdown ">
						<a href="/">Home</a>
					</li><!-- / Home -->


					<!-- Elements -->
					<li class="dropdown ">
						<!-- <a href="index.html">Shop</a> -->
						<div class="dropdown-menu">
						

								
								
						</div><!-- / .dropdown-menu -->
					</li>


					<!-- Pages -->
					<li class="dropdown ">
						<a href="/products">products</a>
						<div class="dropdown-menu">
						

								
								
						</div><!-- / .dropdown-menu -->
					</li>



					<!-- Blog -->
					<li class="dropdown ">
						<a href="/order_page">Orders</a>
						<div class="dropdown-menu">
						

								
								
						</div><!-- / .dropdown-menu -->
					</li>
					<li class="dropdown ">
						<a href="/wallet_page">Wallet</a>
						<div class="dropdown-menu">
						

								
								
						</div><!-- / .dropdown-menu -->
					</li>


				<!-- / Cart -->




					<!-- Shop -->
					
				</ul><!-- / .nav .navbar-nav -->

			</div>
			<!--/.navbar-collapse -->
		</div><!-- / .container -->
	</nav>
</section>

<style>
	.user-dropdown{
		display: inline-block
		
		
	}
	.user-dropdown  a{
margin-left: 10px;
;
	}


</style>