<%- include ('../partials/user-Header')%>
  <%- include ('../partials/user_nav')%>


    <section class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="content">
              <h1 class="page-name">Wallet</h1>
              <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">cart</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

    <p>Refunded amount: <%= sum %></p>




    <%- include ('../partials/user-Footer')%>